<TablacusExplorer>
  <General>
    <Version>1.08</Version>
    <MinVersion>2022.3.7</MinVersion>
    <pubDate>Wed, 09 Mar 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Download</Name>
    <Description>Download</Description>
  </en>
  <fr>
    <Name>Télécharger</Name>
  </fr>
  <ja>
    <Name>ダウンロード</Name>
  </ja>
  <zh>
    <Name>下載</Name>
  </zh>
</TablacusExplorer>
