<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2018.4.7</MinVersion>
    <pubDate>Sat, 07 Apr 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Download</Name>
    <Description>Download</Description>
  </en>
  <ja>
    <Name>ダウンロード</Name>
    <Description>ダウンロード</Description>
  </ja>
</TablacusExplorer>
