<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.33</Version>
    <MinVersion>2021.11.1</MinVersion>
    <pubDate>Mon, 13 Dec 2021 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Mouse</Name>
    <Description>Mouse button and gestures</Description>
  </en>
  <fr>
    <Name>Souris</Name>
    <Description>Définition des boutons et manipulations de la souris.</Description>
  </fr>
  <ja>
    <Name>マウス</Name>
    <Description>マウスボタンとジェスチャー</Description>
  </ja>
  <zh>
    <Name>滑鼠</Name>
  </zh>
</TablacusExplorer>
