<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.21</Version>
    <MinVersion>2018.1.17</MinVersion>
    <pubDate>Wed, 17 Jan 2018 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Mouse</Name>
    <Description>Mouse button and gestures</Description>
  </en>
  <ja>
    <Name>マウス</Name>
    <Description>マウスボタンとジェスチャー</Description>
  </ja>
</TablacusExplorer>
