<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.42</Version>
    <MinVersion>2021.12.18</MinVersion>
    <pubDate>Thu, 23 Dec 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Remember folder view settings</Name>
    <Description>Automatically remember folder view settings.</Description>
  </en>
  <fr>
    <Name>Mémoriser la configuration d'affichage de dossier</Name>
    <Description>Enregistre automatiquement les paramètres d'affichage des dossiers.</Description>
  </fr>
  <ja>
    <Name>フォルダの表示設定を覚える</Name>
    <Description>自動的にフォルダの表示設定を覚えます。</Description>
  </ja>
  <zh>
    <Name>記住每個資料夾檢視</Name>
  </zh>
</TablacusExplorer>
