<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.18</Version>
    <MinVersion>2018.12.11</MinVersion>
    <pubDate>Tue, 11 Dec 2018 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Key</Name>
    <Description>Key</Description>
  </en>
  <ja>
    <Name>キー</Name>
    <Description>キー</Description>
  </ja>
</TablacusExplorer>
