[*.{cpp,h,js,vbs}]
indent_style = tab
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_size = 4

[*.{html,css,xml}]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_size = 2
