<TablacusExplorer>
  <General>
    <Version>1.41</Version>
    <MinVersion>2025.8.6</MinVersion>
    <pubDate>Thu, 14 Aug 2025 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Multi process</Name>
    <Description>Multi-process file operations.</Description>
  </en>
  <fr>
    <Name>Multitâches</Name>
    <Description>Opérations sur fichier en multitâches.</Description>
  </fr>
  <ja>
    <Name>マルチプロセス</Name>
    <Description>マルチプロセスでファイル操作</Description>
  </ja>
  <zh>
    <Name>多程序檔案操作</Name>
  </zh>
</TablacusExplorer>
