<TablacusExplorer>
  <General>
    <Version>1.73</Version>
    <MinVersion>2024.5.30</MinVersion>
    <pubDate>Fri, 31 May 2024 00:00:00 GMT</pubDate>
    <Options>Common:0,6,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Address bar</Name>
    <Description>Breadcrumbs and XP style is available.</Description>
  </en>
  <fr>
    <Name>Barre d'adresse</Name>
    <Description>Les styles "XP" et "Fil d'Ariane" sont disponibles.</Description>
  </fr>
  <ja>
    <Name>アドレスバー</Name>
    <Description>パンくずリスト、XPスタイルが選べます。</Description>
  </ja>
  <zh>
    <Name>位址列</Name>
  </zh>
</TablacusExplorer>
