<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.41</Version>
    <MinVersion>2018.4.23</MinVersion>
    <pubDate>Tue, 24 Apr 2018 00:00:00 GMT</pubDate>
    <Options>Common:0,6,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Address bar</Name>
    <Description>Breadcrumbs or XP style is available.</Description>
  </en>
  <ja>
    <Name>アドレス バー</Name>
    <Description>パンくずリストかXPスタイルが選べます。</Description>
  </ja>
</TablacusExplorer>
