<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2022.1.25</MinVersion>
    <pubDate>Thu, 27 Jan 2022 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Blank page</Name>
    <Description>Blank page</Description>
  </en>
  <fr>
    <Name>Page blanche</Name>
  </fr>
  <ja>
    <Name>空白ページ</Name>
  </ja>
  <zh>
    <Name>起始分頁</Name>
  </zh>
</TablacusExplorer>
