<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.15</Version>
    <MinVersion>2021.3.7</MinVersion>
    <pubDate>Fri, 11 Mar 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Extract</Name>
    <Description>Extract the compressed files.</Description>
  </en>
  <fr>
    <Name>Extraire</Name>
    <Description>Extraire le contenu de fichiers compressés.</Description>
  </fr>
  <ja>
    <Name>展開</Name>
    <Description>圧縮ファイルの展開</Description>
  </ja>
  <zh>
    <Name>解壓縮</Name>
  </zh>
</TablacusExplorer>
