<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.17</Version>
    <MinVersion>2021.3.26</MinVersion>
    <pubDate>Sat, 27 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:5,6:5</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Forward</Name>
    <Description>Forward</Description>
  </en>
  <ja>
    <Name>進む</Name>
  </ja>
  <zh>
    <Name>下一頁</Name>
  </zh>
</TablacusExplorer>
