<TablacusExplorer>
  <General>
    <Version>1.29</Version>
    <MinVersion>2022.1.24</MinVersion>
    <pubDate>Mon, 24 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Multi thread</Name>
    <Description>Multi-threaded file operation.</Description>
  </en>
  <fr>
    <Name>Multi-fils</Name>
    <Description>Opérations sur fichier parallélisées.</Description>
  </fr>
  <ja>
    <Name>マルチスレッド</Name>
    <Description>マルチスレッドでファイル操作を行います。</Description>
  </ja>
  <zh>
    <Name>多線程檔案操作</Name>
  </zh>
</TablacusExplorer>
