<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.15</Version>
    <MinVersion>2021.3.25</MinVersion>
    <pubDate>Fri, 26 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:6:6</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Main menu</Name>
    <Description>Main menu</Description>
  </en>
  <ja>
    <Name>メインメニュー</Name>
  </ja>
  <zh>
    <Name>主選單</Name>
    <Description>主選單</Description>
  </zh>
</TablacusExplorer>
