<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.12</Version>
    <MinVersion>2019.4.30</MinVersion>
    <pubDate>Tue, 30 Apr 2019 00:00:00 GMT</pubDate>
    <Options>Common:6:6</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Main menu</Name>
    <Description>Main menu</Description>
  </en>
  <ja>
    <Name>メイン メニュー</Name>
    <Description>メイン メニュー</Description>
  </ja>
  <zh>
    <Name>主選單</Name>
    <Description>主選單</Description>
  </zh>
</TablacusExplorer>
