<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.26</Version>
    <MinVersion>2018.3.7</MinVersion>
    <pubDate>Thu, 08 Mar 2018 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tool bar</Name>
    <Description>Tool bar</Description>
  </en>
  <ja>
    <Name>ツール バー</Name>
    <Description>ツール バー</Description>
  </ja>
</TablacusExplorer>
