<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.30</Version>
    <MinVersion>2020.9.3</MinVersion>
    <pubDate>Thu, 15 Oct 2020 00:00:00 GMT</pubDate>
    <Options>Common:4,6:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tool bar</Name>
    <Description>Tool bar</Description>
  </en>
  <ja>
    <Name>ツールバー</Name>
  </ja>
  <zh>
    <Name>工具列</Name>
  </zh>
</TablacusExplorer>
