<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.29</Version>
    <MinVersion>2019.2.23</MinVersion>
    <pubDate>Sun, 24 Feb 2019 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tool bar</Name>
    <Description>Tool bar</Description>
  </en>
  <ja>
    <Name>ツール バー</Name>
    <Description>ツール バー</Description>
  </ja>
</TablacusExplorer>
