@charset "ISO-8859-1";

* {
	box-sizing: border-box;
	font-size: 12px;
}

html {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
	background-color: buttonface;
	height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	padding: 0;
	margin: 0;
}

td, tr {
	vertical-align: top;
	font-size: inherit;
	border: none;
	padding: 0;
	margin: 0;
}

img {
	vertical-align: middle;
	border: none;
}

form {
	display: inline;
	margin: 0;
}

input, select, textarea, li {
	font-size: inherit;
}

.button {
	display: inline-block;
	padding: 1px 1px;
	text-decoration: none;
	color: black;
	cursor: default;
	outline: 0;
	white-space: nowrap;
	vertical-align: middle;
}

.hoverbutton {
	display: inline-block;
	text-decoration: none;
	color: black;
	cursor: default;
	background-color: #E5EBEF;
	border: 1px solid #7F9DB9;
	padding: 0;
	outline: 0;
	white-space: nowrap;
	vertical-align: middle;
}

.menu {
	display: inline-block;
	margin: 1px 5px;
	text-decoration: none;
	color: black;
	cursor: default;
	white-space: nowrap;
}

.hovermenu {
	display: inline-block;
	color: black;
	cursor: default;
	text-decoration: none;
	white-space: nowrap;
	background-color: #E5EBEF;
	border: 1px solid #7F9DB9;
	padding: 0 4px;
}

.toolbar1 {
	display: none;
	margin: 1px 1px 1px 0;
	padding: 1px 1px 1px 0;
	white-space: nowrap;
	vertical-align: middle;
}

.toolbar2 {
	display: none;
	margin: 1px 1px 1px 0;
	padding: 1px 1px 1px 0;
	width: 100%
}

.toolbar3 {
	display: none;
	margin: 1px 1px 1px 0;
	padding: 1px 1px 1px 0;
	text-align: right;
	white-space: nowrap;
	vertical-align: middle;
}

.layout {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	border-collapse: collapse;
	overflow: hidden;
}

.sidebar {
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

.sidebar1 {
	display: none;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.sidebar2 {
	display: none;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 100px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.sidebar3 {
	display: none;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
}

.tab0 {
    list-style: none;
    margin: 0;
    padding: 0 1px;
	cursor: default;
	position: relative;
}

.tab0 li {
	display: inline;
	display: inline-block;
	line-height: 2em;
	position: relative;
	white-space: nowrap;
	font-size: inherit;
}

.tab, .tab2, .tab3 {
	border: 1px solid #898C95;
	margin: 0;
	padding: 0 8px;
	background-color: #ddd;
	height: 2em;
	outline: 0;
	background: linear-gradient(to bottom, #fff, #ccc);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#cccccc)";
	vertical-align: bottom;
}

.activetab {
	border: 1px solid #898C95;
	border-bottom: 0;
	margin: 0 -1px;
	padding: 0 9px;
	background-color: #fff;
	height: 2.167em;
	outline: 0;
	z-index: 9999;
	vertical-align: bottom;
}

.treebutton, .treespace {
	color: #666;
	font-family: monospace;
	margin: 0 2px 0 1px;
	text-decoration: none;
	cursor: default;
	vertical-align: middle;
}

.treespace {
	visibility: hidden;
}

a.treebutton:hover {
	color: highlight;
	text-shadow: 0px 0px 2px highlight;
}

.ok {
	min-width: 8em;
}

.cancel {
	min-width: 8em;
}
