@charset "ISO-8859-1";
@import url("index.css");

select {
	min-height: 1.7em;
}

input[type="text"] {
	min-height: 1.4em;
}

textarea {
  min-height: 2em
}

.panel {
	border: 1px solid buttonshadow;
	padding: 4px;
	display: none;
	width: 100%;
	line-height: 1.5em;
	overflow-y: auto;
	clear:both;
}

.color {
	border: 1px solid buttonshadow;
	width: 2em;
}

.block {
	padding: 8px;
	border: 1px solid buttonshadow;
	margin-bottom: 8px;
	display: block;
}

.group {
	padding: 8px;
	border-left: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	border-bottom: 1px solid buttonshadow;
	margin-bottom: 8px;
	display: none;
}

.groupbutton {
	width: 100%;
}

.oddline {
	color: infotext;
	background-color: infobackground;
}

.color {
	border-radius: 2px;
}

.window {
	border: 1px solid buttonshadow;
}

.window td {
	border: 1px solid buttonshadow;
}

.footer {
  width: 100%;
  line-height: 1.5em
}

.text1 {
	color: windowtext;
	background-color: window;
	border: 1px solid buttonshadow;
	white-space: nowrap;
}

.location {
	width: calc(100vh / 3);
}

.disabled {
	color: gray;
}
