/* Tag */

* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background-color: buttonface;
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	padding: 0px;
	margin: 0px;
}

td, tr {
	font-size: 12px;
	font-size: inherit;
	border: none;
	padding: 0px;
	margin: 0px;
}

form {
	display: inline;
	margin: 0px;
}

input {
	font-size: inherit;
}

select {
	font-size: inherit;
}

/* Class */

.tab {
	border-top: 1px solid #898C95;
	border-left: 1px solid #898C95;
	border-right: 1px solid #898C95;
	border-bottom: 0px solid #898C95;
	background-color: #dddddd;
	outline-style: none;
	height: 2em;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#cccccc);
	background: linear-gradient(to bottom, #ffffff, #cccccc);
}
.activetab {
	border-top: 1px solid #898C95;
	border-left: 1px solid #898C95;
	border-right: 1px solid #898C95;
	border-bottom: 0px solid #898C95;
	background-color: #ffffff;
	height: 2.167em;
	outline-style: none;
}

.panel {
	border: 1px solid #898C95;
	padding: 4px;
	display: none;
	line-height: 150%;
	overflow-y: auto;
	clear:both;
}
.color {
	border: 1px solid #7F9DB9;
	width: 24px;
}
.block {
	padding: 8px;
	border: 1px solid gray;
	margin-bottom: 8px;
	display: block;
}
.group {
	padding: 8px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-bottom: 8px;
	display: none;
}
.groupbutton {
	width: 100%;
}
.oddline {
	background-color: #dddddd;
}
.layout {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	border-collapse: collapse;
	overflow: hidden;
	border-spacing: 0;
}
.input {
	font-size: inherit;
}
.color {
	border-radius: 2px;
}
.window {
	border: 1px solid #898C95;
}
.window td {
	border: 1px solid #898C95;
}

.button {
	display: inline-block;
	padding: 1px 1px;
	text-decoration: none;
	color: black;
	cursor: default;
	outline-style: none;
	white-space: nowrap;
	vertical-align: middle;
}
.hoverbutton {
	display: inline-block;
	text-decoration: none;
	color: black;
	cursor: default;
	background-color: #E5EBEF;
	border: 1px solid #7F9DB9;
	padding: 0px;
	outline-style: none;
	white-space: nowrap;
	vertical-align: middle;
}
.treebutton {
	border: 1px solid gray;
	font-size: 0.667em;
	font-family: Consolas;
	padding: 0px 1px;
	margin-right: 3px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#dddddd);
	background: linear-gradient(to bottom, #ffffff, #dddddd);
	cursor: default;
}
.ok {
	min-width: 96px;
}
.cancel {
	min-width: 96px;
}
