@charset "ISO-8859-1";
@import url("index.css"); 

.panel {
	border: 1px solid #898C95;
	padding: 4px;
	display: none;
	line-height: 150%;
	overflow-y: auto;
	clear:both;
}

.color {
	border: 1px solid #7F9DB9;
	width: 2em;
}

.block {
	padding: 8px;
	border: 1px solid gray;
	margin-bottom: 8px;
	display: block;
}

.group {
	padding: 8px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-bottom: 8px;
	display: none;
}

.groupbutton {
	width: 100%;
}

.oddline {
	background-color: #dddddd;
}

.color {
	border-radius: 2px;
}

.window {
	border: 1px solid #898C95;
}

.window td {
	border: 1px solid #898C95;
}
