@charset "ISO-8859-1";
@import url("index.css"); 

select {
	min-height: 1.7em;
}

input[type="text"] {
	min-height: 1.4em;
}

.panel {
	border: 1px solid ButtonShadow;
	padding: 4px;
	display: none;
	width: 100%;
	line-height: 1.5em;
	overflow-y: auto;
	clear:both;
}

.color {
	border: 1px solid #7F9DB9;
	width: 2em;
}

.block {
	padding: 8px;
	border: 1px solid gray;
	margin-bottom: 8px;
	display: block;
}

.group {
	padding: 8px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-bottom: 8px;
	display: none;
}

.groupbutton {
	width: 100%;
}

.oddline {
	color: #000;
	background-color: #ddd;
}

.color {
	border-radius: 2px;
}

.window {
	border: 1px solid ButtonShadow;
}

.window td {
	border: 1px solid ButtonShadow;
}

.footer {
	width: 100%; line-height: 1.5em
}
