<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2019.5.4</MinVersion>
    <pubDate>Sun, 05 May 2019 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Up</Name>
    <Description>Up</Description>
  </en>
  <ja>
    <Name>上へ</Name>
    <Description>上へ</Description>
  </ja>
</TablacusExplorer>
