<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.10</Version>
    <MinVersion>2020.7.30</MinVersion>
    <pubDate>Thu, 30 Jul 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Undo close tab</Name>
    <Description>Undo close tab.</Description>
  </en>
  <ja>
    <Name>閉じたタブを元に戻す</Name>
  </ja>
  <zh>
    <Name>復原已關閉分頁</Name>
  </zh>
</TablacusExplorer>
