<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.18</Version>
    <MinVersion>2024.8.6</MinVersion>
    <pubDate>Mon, 23 Sep 2024 00:00:00 GMT</pubDate>
    <Options>Common:0,5,6,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Undo close tab</Name>
    <Description>Undo close tab.</Description>
  </en>
  <fr>
    <Name>Défaire la fermeture d'onglet</Name>
    <Description>Annule la dernière fermeture d'onglet.</Description>
  </fr>
  <ja>
    <Name>閉じたタブを元に戻す</Name>
  </ja>
  <zh>
    <Name>復原已關閉分頁</Name>
  </zh>
  <zh_cn>
    <Name>恢复已关闭的选项卡</Name>
  </zh_cn>
</TablacusExplorer>
