<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.11</Version>
    <MinVersion>2020.11.14</MinVersion>
    <pubDate>Sun, 15 Nov 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Undo close tab</Name>
    <Description>Undo close tab.</Description>
  </en>
  <ja>
    <Name>閉じたタブを元に戻す</Name>
  </ja>
  <zh>
    <Name>復原已關閉分頁</Name>
  </zh>
</TablacusExplorer>
