<TablacusExplorer>
  <General>
    <Version>1.96</Version>
    <MinVersion>2022.6.27</MinVersion>
    <pubDate>Mon, 18 Jul 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab plus</Name>
    <Description>Tab plus</Description>
  </en>
  <fr>
    <Name>Tab+</Name>
  </fr>
  <ja>
    <Name>タブプラス</Name>
  </ja>
  <zh>
    <Name>進階頁籤</Name>
  </zh>
</TablacusExplorer>
