<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.46</Version>
    <MinVersion>2018.9.9</MinVersion>
    <pubDate>Tue, 18 Sep 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab plus</Name>
    <Description>Tab plus</Description>
  </en>
  <ja>
    <Name>タブプラス</Name>
    <Description>タブプラス</Description>
  </ja>
</TablacusExplorer>
